.assest-images * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-assest * {
  margin: 7vw;
  width: 7vw;
  height: 15vh;
}
.second-assest * {
  margin: 7vw;
  width: 7vw;
  height: 15vh;
}
.third-assest * {
  margin: 7vw;
  width: 7vw;
  height: 15vh;
}

@media (max-width: 400px) {
  .first-assest * {
    margin: 8vw;
    width: 10vw;
    height: 8vh;
  }
  .second-assest * {
    margin: 8vw;
    width: 10vw;
    height: 8vh;
  }
  .third-assest * {
    margin: 8vw;
    width: 10vw;
    height: 8vh;
  }
}

.first-assest1 {
  background-image: url("../assests/c.png");
  background-size: 100% 100%;
}
.first-assest2 {
  background-image: url("../assests/blockchain.png");
  background-size: 100% 100%;
}
.first-assest3 {
  background-image: url("../assests/djangoproject.png");
  background-size: 100% 100%;
}
.first-assest4 {
  background-image: url("../assests/html.png");
  background-size: 100% 100%;
}

.second-assest1 {
  background-image: url("../assests/java.png");
  background-size: 100% 100%;
}
.second-assest2 {
  background-image: url("../assests/javascript.png");
  background-size: 100% 100%;
}
.second-assest3 {
  background-image: url("../assests/kotlin.png");
  background-size: 100% 100%;
}
.second-assest4 {
  background-image: url("../assests/python.png");
  background-size: 100% 100%;
}

.third-assest1 {
  background-image: url("../assests/node-dot-js.png");
  background-size: 100% 100%;
}
.third-assest2 {
  background-image: url("../assests/pro.jpg");
  background-size: 100% 100%;
}
.third-assest3 {
  background-image: url("../assests/c.png");
  background-size: 100% 100%;
}
.third-assest4 {
  background-image: url("../assests/linux\ .png");
  background-size: 100% 100%;
}

.skill {
  font-size: 1.5rem;
  color: rgb(82, 24, 148);
}
